body {
    font-family: sans-serif;
    font-size: 20px;
}

h4 {
    font-size: 30px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.05);
}

.profile-image {
    height: 200px;
    width: 175px;
    object-fit: cover;
}

.about-description {
    line-height: 30px;
}

#about p {
    font-size: 18px;
}

.skills::-webkit-scrollbar-thumb {
    height: 8px;
}

.projects-link {
    color: black;
    text-decoration: underline black;
}
    
.contact-info li a {
    color: black;
    text-decoration: none;
}

.contact-info li a:hover {
    text-decoration: underline orangered;
    color: orangered;
}

#back-to-top {
    color: black;
    text-decoration: underline;
}

section {
    scroll-margin-top: 50px;
}

#skills {
    scroll-margin-top: 50px;
}

.projectCard img {
    width: 75vw;
    margin: 0 auto 3rem;
}

.projectCard, .projectCard img {
    border-radius: 30px;
}

.techStackList {
    line-height: 0.9;
    padding-bottom: 1rem;
    list-style: "-";
}

.heroLinksList {
    list-style: none;
}

.mobile-dropdown-border-item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.skills {
    overflow-x: auto;
}

@media (min-width: 576px) {
    #about p {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
        line-height: 1.7;
    }

    .skills::-webkit-scrollbar {
        background: rgb(255, 255, 255);
    }

    .projects-link {
        text-decoration: none;
    }

    .projects-link:hover {
        color: orangered;
        text-decoration: underline orangered;
    }

    .projectCard {
        display: flex;
    }

    .articleText {
        width: 50%;
    }

    .projectCard img {
        width: 100%;
        padding: 1rem;
    }

    .profile-image {
        width: 200px;
    }

    .mobile-dropdown-border-item {
        border: none;
    }

    .techStackList {
        text-indent: 1rem;
    }
}
